@import '../../styles/utils';
.container{
    background-color: $primary-white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    padding: 0.75rem 0 0.75rem 1rem;
}
.icon{
    cursor: pointer;
}
.text{
    font-family: $inter;
    font-weight: 600;
    font-size: 0.75rem;
    line-height: 0.75rem;
    text-align: center;
    color: $primary-black;
    margin-left: 1rem;
}