@import '../styles/utils';

.containerRow {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2rem;
  
}
.containerRowSmall {
  display: flex;
  flex-direction: row;
  margin-left: auto;
  margin-right: auto;
  @include respond-to('medium') {
    flex-direction: row;
    margin-left: 0;
    margin-right: 0;
    justify-content: flex-start;
    margin-bottom: 2rem;

  }
}

.primary {
  background-color: $primary-white;
  border: 2px solid $primary-white;
  color: $primary-black;
  font-family: Inter;
  padding: 14px 32px;
  width: auto;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.3rem 0.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 25px;
}
.secondary {
  background-color: $primary-black;
  border: 2px solid $primary-black;
  color: $primary-white;
  font-family: Inter;
  padding: 14px 32px;
  width: auto;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 0.3rem 0.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 25px;
}
.primaryLight {
  background-color: $primary-black;
  border: 2px solid $primary-black;
  color: $primary-white;
  font-family: Inter;
  padding: 14px 32px;
  width: auto;
  max-width: 350px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 25px;
}
.secondaryLight {
  background-color: $primary-white;
  border: 2px solid $primary-black;
  color: $primary-black;
  font-family: Inter;
  padding: 14px 32px;
  width: auto;
  max-width: 350px;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  cursor: pointer;
  -webkit-appearance: none;
  border-radius: 25px;
}

.secondaryOnly{
  @extend .secondary;
  margin: 2rem 0;
  max-width: 256px;
}
.primaryOnly{
  @extend .primary;
  margin: 2rem 0;
  max-width: 256px;
}
.secondaryOnlyLight{
  @extend .secondaryLight;
  margin: 2rem 0;
  max-width: 256px;
}
.primaryOnlyLight{
  @extend .primaryLight;
  margin: 2rem 0;
  max-width: 256px;
}
