@import '../../styles/utils';
.container{
    height: 15vh;
    background-color: $primary-white;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 2rem;
}
.icon{
    
}