@import '../../styles/utils';
.section {
  display: flex;
  flex-direction: column-reverse;
  width: 100%;
  justify-content: flex-start;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.529);
  @include respond-to('medium') {
    padding: 2rem;
    flex-direction: row;
}
}

.collection {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 1rem 2rem;
  
}
.collectionSocial {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 1rem 2rem;
  @include respond-to('medium') {
    padding: 2rem;
    flex-direction: column;
}
  
}

.social {
    margin: 0.5rem 2rem;
    @include respond-to('medium') {
      margin: 0.5rem 0;
  }
}

.link {
  font-family: $inter;
  font-weight: 300;
  font-size: 1rem;
  line-height: 1.25rem;
  margin: 0.5rem 0;
  text-align: start;
  color: $primary-white;
  span {
    font-weight: 500;
  }
}
.logo {
  margin-left: 8px;
  font-size: 28px;
  line-height: 38px;
  font-family: $inter;
  font-weight: 700;
  text-decoration: none;
  color: $primary-white;
  cursor: pointer;
  align-self: center;

  span {
    color: #1DEB32;
  }
}
.byline{
  font-family: $inter;
    font-weight: 300;
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 1rem 0;
    margin-left: auto;
    margin-right: auto;
    text-align: start;
    color: $primary-white;
    
}
