@import './utils';

.container {
  min-height: 100vh;
  display: flex;
  background-color: $background-light;
  flex-direction: column;
  height: 100vh;
}

.menu{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;
  height: 100%;
  width: 0;
  position: fixed; /* Stay in place */
  z-index: 99; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */}
.menuList {
  list-style-type: none;
 }
.menuOpen{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $background-dark;
  height: 100%;
  width: 100%;
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  transition: 0.5s; /* 0.5 second transition effect to slide in or slide down the overlay (height or width, depending on reveal) */

}
.menuItem{
  font-family: $inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  color: $primary-white;
  margin: 2rem 0 2rem -2rem;
  @include respond-to('medium') {
    font-size: 2.5rem;
    margin: 4rem 0 4rem -2rem;
  }
}
.menuItemNoHover{
  font-family: $inter;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 4rem;
  text-align: center;
  color: $primary-white;
  margin: 2rem 0 2rem -2rem;
  @include respond-to('medium') {
    font-size: 2.5rem;
    margin: 4rem 0 4rem -2rem;
  }
}
.menuItem:hover{
  cursor: pointer;
  background: rgb(8,55,13);
  background: linear-gradient(313deg, rgba(8,55,13,1) 0%, rgba(29,235,50,1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.menuClose{
  position: absolute;
  top: 1rem;
  right: 1rem;
}
